# Python
__pycache__/
*.py[cod]

# Build outputs
build/
dist/
*.egg-info/

# MkDocs generated site
HTML/
site/
paper_JOSS/

# Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
``